body{
    color: white;
    background-image: url(pattern.png), url(main-menu-bg.jpg);
  overflow: hidden;
}
h1, h2, h3{
    text-align: center;
    margin: 10px;
    
}
#Names{
    list-style: none;
    text-align: center;
}
table{
    text-align: center;
    width: 100%;
    font-size: 100%;
}

#dev1{
    float: Left;
    width:50%;
    padding-bottom: 40px;
}
#dev2{
    float: Right;
    width:50%;
}
#Copyrights{
    text-align: center;
    padding-top: 50px;
}
#MenuButton{
    font-size: 150%;
    padding-left: 00px;
    float:left;
    -webkit-transition: all 0.5s ease-in-out;
}

#MenuButton:hover{
    
    -webkit-transform: translateX(15px);
}