
html,body {
  background-image: url(pattern.png), url(main-menu-bg.jpg); 
  
  background-color: transparent;
  background-repeat: repeat, no-repeat;
  background-position: center center;
  background-attachment: fixed;
  
  -webkit-background-size: auto, cover;
  background-size: auto, cover;
  
  color: white;
  box-sizing: border-box;
  font-family: 'Lato';
  margin: 0;
  padding: 0;
}

#menu {
  padding-top: 15%;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  
  text-transform: uppercase;
  letter-spacing: 5px;

}

#title {
  font-weight: 400;
}

#menu-list {
  list-style-type: none;
  padding: 0;
}

#menu-list:hover {
}

#menu-list li {
  padding: 5px;
}

.menu-button {
  font: 'Lato', sans-serif;
  display: block;
  font-size: 32px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  
  text-transform: uppercase;
  letter-spacing: 5px;
  
  -webkit-transition: all 0.5s ease-in-out;
}

.menu-button:hover {
  -webkit-transform: translateX(15px);
}

a {
  color: inherit;
  text-decoration: none;
}

