
html,body {
  /*background-image: url(pattern.png), url(main-menu-bg.jpg);*/
  
  background-color: transparent;
  background-repeat: repeat, no-repeat;
  background-position: center center;
  background-attachment: fixed;
  
  -webkit-background-size: auto, cover;
  background-size: auto, cover;
  
  color: white;
  box-sizing: border-box;
  font-family: 'Lato';
  margin: 0;
  padding: 0;
  
  -webkit-user-select: none;
  -webkit-transition: 1s ease-in-out color;
}
#all {
    color : white;
}
#topBar
{
  margin-top: 5%;  
  column-count: 2;
}
#health {
  position: absolute;
  left: 2%;
  top: 2%;
  letter-spacing: 2px;
}

#ammo {
  position: absolute;
  left: 80%;
  top: 2%;
  letter-spacing: 2px;
}

#title {
  font-weight: 400;
}

#menu-list {
  list-style-type: none;
  padding: 0;
}

#menu-list:hover {
}

#menu-list li {
  padding: 5px;
}

#menu-list .menu-button {
  font: 'Lato', sans-serif;
  display: block;
  font-size: 32px;
  
  -webkit-transition: all 0.5s ease-in-out;
}

#menu-list .menu-button:hover {
  -webkit-transform: translateX(15px);
}

#NewWave {
    font: 'Lato', sans-serif;
    //position: absolute;
	top: 30%;
    text-align: center;
    font-size: 64px;
    opacity: 0;
    
}

