html, body {
background-image: url(pattern.png), url(main-menu-bg.jpg); 
  
  background-color: transparent;
  background-repeat: repeat, no-repeat;
  background-position: center center;
  background-attachment: fixed;
  
  -webkit-background-size: auto, cover;
  background-size: auto, cover;
  
  color: white;
  box-sizing: border-box;
  font-family: 'Lato';
  margin: 0;
  padding-top: 10%;
  text-align:center;
  
}

a {
  color: inherit;
  text-decoration: none;
  padding:0px;
  font: 'Lato', sans-serif;
  
  font-size: 20px;
  
  -webkit-transition: all 0.5s ease-in-out;
}

